<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <title>Something like Twitter</title>
</head>
<body>
    <nav class="navbar mx-6" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <img class="image is-32x32 my-auto" src="assets/img/favicon.png">
        </div>
        <div class="navbar-menu">
            <div class="navbar-start ml-3">

                <h1 class="title m-auto pr-3">Something like Twitter</h1>

                <a class="navbar-item m-auto has-text-centered" href="/logout">
                    Logout
                </a>

                
                <a id="changePassword" class="navbar-item m-auto has-text-centered">
                    Change Password
                </a>
            </div>
        </div>
    </nav>


    <div class="columns is-centered">
        <div class="column"></div>
        <div class="column has-text-centered is-three-fifths px-0">
            <section id="changePasswordSection" class="mb-3"></section>

            <section id="makeTweet"></section>

            <div id="errorBox" class="hidden">
                <h3><span class="has-text-weight-bold" id="errorMessage"></span></h3>
            </div>

            <section id="tweets"></section>
        </div>
        <div class="column"></div>
    </div>




    <script src="/assets/appBundle.js"></script>
</body>
</html>